*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

body{
    /* height: 100vh; */
    margin: 5rem;
    text-align: center;

}
.main-cont{
    margin: auto;

}
.pages-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}
.card{
      border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}
.card img{
   width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.atags{
    margin-top: 20px;
    text-align: center;
}
.atags a{
    border: 1px solid rgb(107, 243, 250);
    padding: 10px 20px;
    margin: 10px;
}
.atags a:hover{
    background-color: rgb(77, 174, 226);
    color: white;
}
.atags .active{
    background-color: rgb(85, 177, 233);
    color: white;
}
h1{
    color: rgb(21, 68, 52);
    margin-bottom: 20px;
}
